/* Responsividade para telas de até 480px (smartphones) */
@media screen and (max-width: 600px) {
   .div-esquerda{
    display: none;
    }
    .div-direita{
        width: 100%;
    }
  }

  /* Responsividade para telas de até 1159px (tablets grandes) */
@media screen and (min-width: 601px){
    .div-esquerda{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .div-direita{
        width: 50%;
    }
  }


  @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.Screen-Login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background-color: #ececec;
    color: whitesmoke;
}

.BG{
    background-image: url('/BG/BG-LEITOS.jpg');
    background-size: cover;
}

.Circulo{
    background-image: url('/Logo/Circulo.png');
    background-size: cover;
}


.Component-Login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40dvw;
    height: 50dvh;
    min-height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Component-Login .div-esquerda{
    height: 100%;
    background-color: aqua;
}

.Component-Login .div-direita{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #024059;
}

.login-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Component-Login input[type="text"], input[type="password"]{
    width: 90%;
    height: 20px;
    padding: 0.7dvw;
    border-radius: 3px;
    margin: 1px 0px 1px 0px; /*top right bottom left*/
}

.Component-Login button{
    color: #024059;
    background-color: whitesmoke;
}

.Component-Login button:hover{
    color: whitesmoke;
    background-color: #ff8900;
}

.Component-Login .Div-Buttons{
    margin: 20px 0px 0px 0px; /*top right bottom left*/
}