/* NovaRegulacao.css */
  
  /* Steps Navigation */
  .Steps {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  
  .Step {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--step);
    text-transform: uppercase;
    position: relative;
  }
  
  /*
  .Step::before {
    content: attr(data-step);
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 30px;
    border: 2px solid #999;
    border-radius: 50%;
    background: #fff;
    margin-right: 5px;
  }
    */
  
  .Step.active {
    color: var(--step-active);
  }
  
  .Step.active::before {
    border-color: #007bff;
    color: #fff;
    background: #007bff;
  }
  
 
  .line-StepContent input[type="number"]{
    width: 42%;
  }

  .line-StepContent,  .line-StepContent-sub{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .line-StepContent input[type='datetime-local']{
    width: 50%;
  }

  .line-StepContent input[type='date']{
    width: 100%;
  }

  .line-StepContent-2{
    display: flex;
    width: 100%;
    justify-content: left;
    gap: 10%;
  }

    .line-StepContent-sub{
    width: 100%;
  }

  .line-StepContent-sub input{
    width: 94%;
    max-width: 250px;
  }

  .div-VerificarProntuario{
    display: flex;
  }

  .MicroButtonInput{
    margin-right: 1dvw;
    padding: 5px;
  }
  
  /* Validation Messages */
  .validation-message {
    color: #dc3545;
    margin-top: 5px;
  }

  .Icon-Status-NovaRegulacao{
    width: 30px;
    height: auto;
  }

  .spanInput-line-StepContent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
