/*DADOS PACIENTE*/
  .DadosPaciente-Border {
    display: flex;
    flex-direction: row;
    justify-content: center; /*alinhamento horizontal*/
    align-items: center; /*alinhamento vertical*/
    width: 88%;
    border-radius: 10px;
    border: 2px solid #49798a;
    padding: 10px;
    margin: 0px 0px 20px 0px; /*top, direita, bottom, esquerda*/
    font-size: 10px;
  }

  .Div-IconePaciente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
  }

  .Div-IconePaciente div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .IconePaciente{
    width: 50%;
    height: 100%;
  }

  .Div-DadosPaciente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: 100%;
    width: 80%;

    margin-left: 10px;
  }

  .statusRegulacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .InformacoesPaciente{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5px;
  }

  .InformacoesPaciente div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }

  .InformacoesPaciente span{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 95%;
  }



  .InformacoesPaciente label, .InformacoesPaciente div, .InformacoesPaciente span{
    margin-bottom: 5px;
  }