
.Div-RegulacaoMedica-Aprovada{
    display: flex;
    width: 100%;

}

.RegulacaoMedica-Aprovada{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}



.num_leito, .nome_regulador_medico, .justificativa_tempo30{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.num_leito{
    width: 30%;
}

.nome_regulador_medico{
    width: 70%;
}

.justificativa{
    width: 100%;
    min-height: 180px;
}

textarea{
    width: 100%;
    min-height: 100px;
}