.Header-ListaRegulaçoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.td-TempoEspera{
    text-transform: lowercase;
}

.Mais24{
    font-weight: bold;
    color: brown;
}