/* Responsividade para telas acima de 1160px (desktop) */
@media screen and (min-width: 1160px) {
  .sidebar {
    display: flex;
    width: 15dvw;
  }
  .textMenu-Item{
    display: flex;
  }
}

/* Responsividade para telas de até 1024px (tablets) */
@media screen and (max-width: 1024px) {
  /* Adicione seus estilos aqui */
}

/* Responsividade para telas de até 768px (tablets grandes e dispositivos pequenos) */
@media screen and (max-width: 1159px) {
  .sidebar {
    display: flex;
    width: 12dvw;
  }
  .textMenu-Item{
    font-size: 10px;
  }
}

/* Responsividade para telas de até 550px (smartphones) */
@media screen and (max-width: 550px) {
  .sidebar {
    display: flex;
    width: 5dvw;
    font-size: 7px;
  }
  .textMenu-Item{
    display: none;
  }
}


.sidebar {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--sidebar-bg);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 20px 0px 20px; /* Topo, direita, inferior, esquerda */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-Title{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5dvw;
  margin: 20px 0px 20px 0px; /*top, direita, bottom, esquerda*/
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #ecf0f1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: flex-start;
  height: 30px;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #0c4d8d;
  border-radius: 5px;
  transform: scale(1.1);
}

.app-container {
  display: flex;
}

.content {
  margin-left: 15dvw;
  padding: 20px;
  width: 100%;
}


.IconUser {
  width: 50%;
  height: auto;
  border-radius: 50%;  /* Torna a imagem redonda */
  object-fit: cover;   /* Garante que a imagem cubra a área sem distorcer */
  border: 7px solid var(--sidebar-iconUser-border);
}


.sidebar-Username {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.inf-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.sidebar-inf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5dvh;
}


/*MUDANÇA DE TEMA*/
.slider {
  width: 5.5dvw;
  min-width: 50px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider.light {
  background-color: #f0f0f0;
}

.slider.dark {
  background-color: #333;
}

.slider__ball {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: left 0.3s ease, background-color 0.3s ease; /* Suaviza a troca de cor */
}

.slider.light .slider__ball {
  left: 4px;
  background-color: #333333; /* Bolinha preta no tema claro */
}

.slider.dark .slider__ball {
  left: 3.6dvw; /* Move a bolinha para a direita no tema escuro */
  background-color: white; /* Bolinha branca no tema escuro */
}


.Icon-Menu-Item{
  width: auto;
  height: 25px;
}

.textMenu-Item{
  width: 83%;
  cursor: pointer;
}