/* Responsividade para telas de até 480px (smartphones) */
@media screen and (max-width: 500px) {
  .FiltroItemSelect {
    width: 25dvw;
  }
}

.FiltroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0px 20px 0px 20px; /*top, direita, bottom, esquerda*/
  }
  
  .FiltroItemSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  .FiltroItemSelect select {
    width: 10dvw;
  }
  
