.modal-input{
    min-height: 20dvh;
}

.modal-input input, .modal-input select, .modal-input textarea{
    width: 99%;
}

.modal-input textarea{
    height: 100%;
}

input[type='datetime-local']{
    width: 97%;
}

.modal-input-textarea{
    height: 1px;
    border-radius: 5px;
}

.modal-input-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.modal-input-line2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: left;
    gap: 5%;
}