.modal-input{
    min-height: 20dvh;
}

.modal-input input, .modal-input select{
    width: 99%;
}

.modal-input textarea{
    height: 100%;
}

input[type='datetime-local']{
    width: 97%;
    max-width: 250px;
}

.modal-input-textarea{
    height: 100%;
    min-height: 50px;
    width: 100%;
    border-radius: 5px;
}

.modal-input-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 97%;
    margin-bottom: 20px;
}

.modal-input-line2 .sub{
    margin-bottom: 0px;
}

.modal-input-line2{
    display: flex;
    flex-direction: row;
    width: 97%;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 20px;
}

.modal-input-line2 input, .modal-input-line2 select{
    width: 100%;
}

.modal-input-line, .modal-input-line2 label{
    display: flex;
}

.modal-input-checkbox-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-height: 50px;
    width: 100%;
}