/* Modal Container */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    z-index: 1050;
}

.modal-Form{
    display: flex;
    flex-direction: row;
    width: 80%; /* Ajuste conforme necessário */
    max-width: 650px;
}

/* Modal Content */
.modal-content {
    background-color: var(--modal-bg);
    border-radius: 0px 8px 8px 8px; /* Cantos: superior-esquerdo, superior-direito, inferior-direito, inferior-esquerdo */
    border: 5px solid var(--modal-border);
    width: 80%; /* Ajuste conforme necessário */
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    position: relative; /* Para colocar o close button sobre o conteúdo */
}

/* Modal Header */

/* Modal Body */
.modal-body {
    margin-bottom: 20px;
}

/* Close Button */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--modal-close-bg);

    padding: 5px 15px 5px 15px; /* Topo, direita, inferior, esquerda */
}

/* Close Button Hover */
.modal-close:hover {
    color: red;
    background-color: var(--modal-close-bg-hover);
}
