/* Variáveis de Tema */
.light-theme {
  --sidebar-bg: #49798a;
  --sidebar-iconUser-border: #F5F6FA;

  --component: #f9f9f9;
  --bg-color: #dcdde1;
  --text-color: #000000;

  --table-bg: #ecf0f1;
  --table-header-bg: #49798a;
  --table-header-selected: #024059;
  --table-header-text-color: #b2bec3;
  --table-hover-bg: #c7ecee;
  --table-border: #49798a;

  --titleForm-bg: #49798a;
  --titleForm-text: whitesmoke;
  --form-border: #49798a;
  --form-bg-color: #f5f6fa;

  --button-bg: #49798a;
  --button-text-color: white;
  --button-border: #333333;

  --modal-border: #49798a;
  --modal-bg: #f5f6fa;
  --modal-close-bg: #f5f6fa;
  --modal-close-bg-hover: #c7ecee;

  --border-form-search: #024059;

  --step: #b2bec3;
  --step-active: #024059;
}

.dark-theme {
  --sidebar-bg: #024059;
  --sidebar-iconUser-border: #333333;

  --component: #292929;
  --bg-color: #2d3436;
  --text-color: whitesmoke;

  --table-bg: #333333;
  --table-header-bg: #024059;
  --table-header-selected: #49798a;
  --table-header-text-color: #b2bec3;
  --table-hover-bg: #555555;
  --table-border: snow;

  --titleForm-bg: whitesmoke;
  --titleForm-text: #333;
  --form-border: whitesmoke;
  --form-bg-color: #333;

  --button-bg: whitesmoke;
  --button-text-color: black;

  --modal-border: whitesmoke;
  --modal-bg: #333;
  --modal-close-bg: #333;
  --modal-close-bg-hover: #555;

  --border-form-search: #49798a;

  --step: #49798a;
  --step-active: whitesmoke;
}


/* Responsividade para telas acima de 1160px (desktop) */
@media screen and (min-width: 1160px) {
  body{
    font-size: 12px;
  }
  .Mobile{
    display: none;
  }
}

/* Responsividade para telas de até 1159px (tablets) */
@media screen and (min-width: 901px) and (max-width: 1159px) {
  body{
    font-size: 12px;
  }
  .Component {
    margin-left: 50px;
  }
  .Mobile{
    display: none;
  }
}

/* Responsividade para telas de até 1159px (tablets grandes) */
@media screen and (min-width: 551px) and (max-width: 900px) {
  body{
    font-size: 10px;
  }
  .Component {
    margin-left: 200px;
  }
  .Mobile{
    display: none;
  }
}

/* Responsividade para telas de até 550px (smartphones) */
@media screen and (max-width: 550px) {
  body{
    font-size: 6px;
  }
  .col-NumIdade, .col-NumRegulacao, .col-NumRegulacao{
    display: none;
  }
  .Component {
    margin-left: 320px;
  }
  .ComponentForm, .Title-Form{
    margin-left: 0px;
  }

  .Mobile{
    display: flex;
  }
}


/* Estilos globais */
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 100dvw;
  min-height: 100dvh;
  margin: 0;
  align-items: center;
  place-items: center;
  font-family: Helvetica, Sans-Serif;

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit;        /* Faz com que a cor do link seja a mesma da cor do texto ao redor */
  background: none;      /* Remove qualquer fundo que possa ser aplicado */
  border: none;          /* Remove qualquer borda, caso tenha */
  outline: none;         /* Remove o contorno de foco */
}

a:hover {
  color: #49798a;        /* Faz com que a cor do link seja a mesma da cor do texto ao redor */
  background: none;      /* Remove qualquer fundo que possa ser aplicado */
  border: none;          /* Remove qualquer borda, caso tenha */
  outline: none;         /* Remove o contorno de foco */
  cursor: pointer;
}

button{
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--button-text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

input::file-selector-button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #49798a;
}


button:hover, input::file-selector-button:hover {
  border-color: #646cff;
}

input::file-selector-button:hover{
  color: whitesmoke;
  background-color: #49798a;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


button[type="button"]:hover {
  color: whitesmoke;
  background-color: #024059;
}

button[type="submit"] {
  background-color: #28a745;
  color: white;
}

button[type="submit"]:hover {
  background-color: #218838;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.button-warning {
  background-color: #f39c12;
}

.button-clear {
  background-color: #ff6f61;
  color: whitesmoke;
}

.button-red {
  background-color: #c0392b;
  color: whitesmoke;
}

.button-pagination{
  margin: 0px 10px 0px 10px; /*top, direita, bottom, esquerda*/
}

.inline-button{
  display: flex;
  max-width: 80px;
  max-height: 30px;
  font-size: 0.5rem;
  flex-wrap: nowrap;
}

 /* Placeholder */
 input::placeholder {
  color: #aaa;
}

textarea {
  resize: none;
}


input,
select {
  padding: 5px;
  margin: 3px;
  border-radius: 4px;
  border: 2px solid #ccc;
}

input{
  width: 100%;
  text-transform: uppercase;
}

select {
  width: 100%;
  cursor: pointer;
}

input:focus, select:focus {
  border-color: #007bff;
  outline: none;
}

input.valid {
  border-color: #28a745;
}

input.invalid {
  border-color: #dc3545;
}


input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input:disabled {
  color: var(--text-color);
}





/*REQUIRE BORDER*/
.requireBorder{
  border: 1px solid red;
}




/*COMPONENTE*/
.Component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 70dvw;
  height: 85dvh;
  padding: 20px;
  background-color: var(--component);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}





/* Formulario */
.Title-Form {
  font-size: 14px;
  padding: 4px 7px 1px 7px;/* Topo, direita, inferior, esquerda */
  color: var(--titleForm-text);
  background-color: var(--titleForm-bg);
  border-radius: 8px 8px 0px 0px;/* Cantos: superior-esquerdo, superior-direito, inferior-direito, inferior-esquerdo */
  text-transform: uppercase;
}

.SubTitle-Form{
  font-size: 14px;
  margin: 0px 0px 20px 0px; /*top, direita, bottom, esquerda*/
}

.ComponentForm {
  width: 35dvw;
  min-width: 300px;
  max-width: 600px;
  height: auto;
  min-height: 350px;
  padding: 20px;
  padding-right: 40px;
  border: 2px solid var(--form-border);
  background-color: var(--form-bg-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0px 8px 8px 8px;/* Cantos: superior-esquerdo, superior-direito, inferior-direito, inferior-esquerdo */
}

 /* Form Section */
 .Form-NovaRegulacao{
  display: flex;
  flex-direction: column;
  height: 45dvh;
  max-height: 330px;
}

.Form-NovaRegulacao-Inputs{
  height: 45dvh;
  min-height: 270px;
}

.Form-NovaRegulacao-home{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45dvh;
  max-height: 330px;
  width: 100%;
}

.Form-NovaRegulacao-home button{
  width: 300px;
  height: 100px;
}






/* Tabela de Regulações */
.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title-Tabela {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.Table-Regulacoes {
  border: 1px solid var(--table-border);
  min-width: 70dvw;
  max-width: 70dvw;
  background-color: var(--table-bg);
  color: var(--text-color);
  text-transform: uppercase;
}

.Table-Regulacoes th {
  padding: 5px;
  background-color: var(--table-header-bg);
  color: var(--table-header-text-color);
}

.Table-Regulacoes th span{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.Table-Regulacoes th label{
  margin: 0px 3px 0px 3px; /*top, direita, bottom, esquerda*/
}

.Table-Regulacoes td {
  padding: 5px;
}

.Table-Regulacoes tr:hover {
  background-color: var(--table-hover-bg);
}

.col-Text{
  max-width: 200px;
}

.clicked label{
  cursor: pointer;
}

/* Estilo quando o título for selecionado */
.selected {
  background-color: var(--table-header-selected)!important; /* Cor de fundo ao ser clicado */
  color: #fff!important; /* Cor do texto quando selecionado */
}




/*ICONS*/
.td-Icons {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  min-width: 70px;

  height: 100%;
  min-height: 30px;
}

.Icons-Regulacao {
  height: auto;
  width: 35%;
}

.Icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.Logo{
  height: auto;
  width: 100%;
}






/* FILTROS */
.Filtro-Container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 55dvw;
}

.Search-Input{
  width: 20dvw;
}


/*UPLOAD*/
.upload{
  padding: 1dvh 1dvw 1dvh 1dvw;/* Topo, direita, inferior, esquerda */

  border: 2px solid #49798a;
}


/*DIV BUTTONS*/
.Div-Buttons{
  display: flex;
  gap: 3%;
  flex-direction: row;
  margin: 10px 0px 10px 0px; /*top, direita, bottom, esquerda*/
}

.End{
  justify-content: flex-end;
}

.Central{
  justify-content: center;
}