.Header-ListaRegulaçoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Filtro-Container{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 800px;
    margin-bottom: 10px;
}